{{- if and .Values.applications (hasKey .Values.applications "root") }}
{{- if .Values.applications.root.enabled }}
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ .Values.applications.root.name }}
  namespace: {{ .Values.argocd.namespace }}
  finalizers:
{{- toYaml .Values.argocd.finalizers | nindent 4 }}
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion | quote }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  project: {{ .Values.global.project }}
  source:
    repoURL: {{ .Values.global.repoURL }}
    targetRevision: {{ .Values.global.targetRevision }}
    path: {{ .Values.applications.root.path }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Values.global.namespace }}
  syncPolicy:
{{- toYaml .Values.syncPolicy | nindent 4 }}
{{- end }}
{{- end }} 